<% @page_title = "Study Session" %>

<!-- This is very inefficient, need to research more and solve the problem -->
<%if @studysession.id == nil%>
  <%= form_for @studysession, :url => {action: "create"}, :html => { :class => 'form-horizontal' } do |f| %>
    <% if @studysession.errors.any? %>
            <div class="alert alert-error" id= "error_explanation">
              <%= @studysession.errors.full_messages.first%>
            </div>
      <% end %>
      
      <div class="control-group">
        <%= f.label :title,:class => 'control-label'%><br />
        <div class ="controls">    
          <%= f.text_field :title, :id => 'title', :name =>'title' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :description,:class => 'control-label' %><br />
        <div class ="controls">    
          <%= f.text_area :description, :id =>'description', :name => 'description' %>
        </div>
      </div>

      <div class="control-group">
         <%= f.label "Make study session private to invited classmates (public by default)",:class => 'control-label' %><br />
        <div class ="controls">    
          <%= f.check_box :is_private, :id => 'is_private', :name =>'is_private' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :location,:class => 'control-label' %><br />
        <div class ="controls">    
          <%= f.text_field :location, :id => 'location', :name =>'location' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :Invite_Classmates,:class => 'control-label' %><br />
        <div class ="controls">
          <a herf ="#" id = "invitation_select_all">Select/Deselect all</a><br>    
          <% @course.getClassmates().each do |classmate|%>
            <%next if classmate.id == @user.id%>
            <%= check_box_tag classmate.id, 'yes', false, class: 'invitation_checkboxes'%><%=classmate.first_name%><br>
          <%end%>
        </div>
      </div>
      <div class="control-group">
         <%= f.label :Click_to_get_recommendation, :class => 'control-label',:id =>"generate_recommendation" %>
         <div id = "time_recommendation">
         </div>
     </div>

      <div class="control-group">
        <%= f.label :time,:class => 'control-label' %><br />
        <div class ="controls">
          <div id="datetimepicker2" class="input-append">
            <input name="time" id="time" data-format="MM/dd/yyyy HH:mm:ss PP" type="text"></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>         
          </div>
        </div>
        <script type="text/javascript">
          $(function() {
            $('#datetimepicker2').datetimepicker({
              language: 'en',
              pick12HourFormat: true
            });
          });
        </script>
      </div>

      <div class="control-group">
        <%= f.label :category,:class => 'control-label' %><br />
        <div class ="controls">    
          <%= f.text_field :category, :id => 'category', :name => 'category' %>
        </div>
      </div>

    <%= link_to "Create Study Session","#",:id => "submit_session", :class=>'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  dashboard_path(current_user), :class => 'btn' %>

  <% end %>
  <%else%>
    <%= form_for @studysession, :url => {action: "create"}, :html => { :class => 'form-horizontal' } do |f| %>
    <% if @studysession.errors.any? %>
            <div class="alert alert-error" id= "error_explanation">
              <%= @studysession.errors.full_messages.first%>
            </div>
      <% end %>
      
      <div class="control-group">
        <%= f.label :title,:class => 'control-label'%><br />
        <div class ="controls">    
          <%= f.text_field :title, :id => 'title', :name =>'title' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :description,:class => 'control-label' %><br />
        <div class ="controls">    
          <%= f.text_area :description, :id =>'description', :name => 'description' %>
        </div>
      </div>

      <div class="control-group">
         <%= f.label "Make study session private to invited classmates (public by default)",:class => 'control-label' %><br />
        <div class ="controls">    
          <%= f.check_box :is_private, :id => 'is_private', :name =>'is_private' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :location,:class => 'control-label' %><br />
        <div class ="controls">    
          <%= f.text_field :location, :id => 'location', :name =>'location' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :Invite_Classmates,:class => 'control-label' %><br />
        <div class ="controls">
          <a herf ="#" id = "invitation_select_all">Select/Deselect all</a><br>    
          <% @course.getClassmates().each do |classmate|%>
            <%next if classmate.id == @user.id%>
            <%= check_box_tag classmate.id, 'yes', false, class: 'invitation_checkboxes'%><%=classmate.first_name%><br>
          <%end%>
        </div>
      </div>
      <div class="control-group">
         <%= f.label :Click_to_get_recommendation, :class => 'control-label',:id =>"generate_recommendation" %>
         <div id = "time_recommendation">
         </div>
     </div>

      <div class="control-group">
        <%= f.label :time,:class => 'control-label' %><br />
        <div class ="controls">
          <div id="datetimepicker2" class="input-append">
            <input name="time" id="time" data-format="MM/dd/yyyy HH:mm:ss PP" type="text"></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>         
          </div>
        </div>
        <script type="text/javascript">
          $(function() {
            $('#datetimepicker2').datetimepicker({
              language: 'en',
              pick12HourFormat: true
            });
          });
        </script>
      </div>

      <div class="control-group">
        <%= f.label :category,:class => 'control-label' %><br />
        <div class ="controls">    
          <%= f.text_field :category, :id => 'category', :name => 'category' %>
        </div>
      </div>

    <%= link_to "Edit Study Session","#",:id => "submit_session", :class=>'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  dashboard_path(current_user), :class => 'btn' %>

  <% end %>
<%end%>