<%- model_class = StudySession -%>
<table class="table", id="study_sessions_index">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
    </tr>
  </thead>
  <tbody>
    <% @myStudySessions.each do |session| %>
    <%next if session == nil%>
      <tr data-link="<%=user_course_study_session_path(current_user, session.course_id, session.id )%>">
        <td><%= session.title %></td>
      	<td><%= session.time.strftime("%d/%m/%Y %I:%M %p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>