<FONT size="3"><FONT COLOR="red">Red Box</FONT> = Busy for Group Study<br>
<FONT COLOR="009900">Green Box</FONT> = Available for Group Study<br>
White Box = No Preference<br><br></FONT>

This data is used to recommend times when most of your classmates are free to study. Class timings are already checked off as busy timings in the table
<div id = 'buttons_wrapper'>
  <div id ='schedule_buttons'>
    <button class = 'btn btn-info' id = "afternoon">4pm till 12am</button>
    <button class = 'btn btn-info' id = "night">12am till 8am</button>
    <button class = 'btn btn-info' id = "morning">8am till 4pm</button>
  </div>
</div>
<div align ="center"><%= link_to "Update Schedule","#",:id => "schedule_update", :class=>'btn btn-primary' %></div>

<%= form_for([@user,@schedule]) do |f| %>
  
  <%@tableNumbers.each do |tableNumber|%>
      <% tableName = "table"+tableNumber.to_s%>
      <table id="<%=tableName%>" class = "table">
          <thead>
              <tr>
                  <th></th>
                  <%@columnNumbers.each do |columnNumber|%>    
                    <th><%= @times[tableNumber][columnNumber]+"-"%>  <br> <%=@times[tableNumber][columnNumber+1]%></th>
                  <%end%>
              </tr>
          </thead>
          <%@days.each do |day|%>
              <tr>
                  <td><%=day%></td>
                  <%@columnNumbers.each do |columnNumber|%>
                    <td>
                      <!-- check status of each scheudle -->
                      <% if @toCheckOff.include?("#{day + " " + @times[tableNumber][columnNumber] + "-" + @times[tableNumber][columnNumber+1] + " " + "busy"}")%>
                          <%= content_tag :div,"", class: "red-box show", :id => "red-box_#{day}_#{columnNumber}#{tableNumber}" %>
                          <%= content_tag :div,"", class: "green-box hide", :id => "green-box_#{day}_#{columnNumber}#{tableNumber}"%>
                          <%= content_tag :div,"", class: "white-box hide", :id => "white-box_#{day}_#{columnNumber}#{tableNumber}"%>
                      <%elsif @toCheckOff.include?("#{day + " " + @times[tableNumber][columnNumber] + "-" + @times[tableNumber][columnNumber+1] + " " + "available"}")%>
                          <%= content_tag :div,"", class: "red-box hide", :id => "red-box_#{day}_#{columnNumber}#{tableNumber}" %>
                          <%= content_tag :div,"", class: "green-box show", :id => "green-box_#{day}_#{columnNumber}#{tableNumber}"%>
                          <%= content_tag :div,"", class: "white-box hide", :id => "white-box_#{day}_#{columnNumber}#{tableNumber}"%>
                      <%elsif @toCheckOff.include?("#{day + " " + @times[tableNumber][columnNumber] + "-" + @times[tableNumber][columnNumber+1] + " " + "none"}")%>
                          <%= content_tag :div,"", class: "red-box hide", :id => "red-box_#{day}_#{columnNumber}#{tableNumber}" %>
                          <%= content_tag :div,"", class: "green-box hide", :id => "green-box_#{day}_#{columnNumber}#{tableNumber}"%>
                          <%= content_tag :div,"", class: "white-box show", :id => "white-box_#{day}_#{columnNumber}#{tableNumber}"%>
                      <%else%>
                        <%= content_tag :div,"", class: "white-box show", :id => "white-box_#{day}_#{columnNumber}#{tableNumber}"%>
                        <%= content_tag :div,"", class: "red-box hide", :id => "red-box_#{day}_#{columnNumber}#{tableNumber}" %>
                        <%= content_tag :div,"", class: "green-box hide", :id => "green-box_#{day}_#{columnNumber}#{tableNumber}"%>
                      <%end%>
                    </td>
                  <%end%>
              </tr>
          <%end%>
      </table>
  <%end%>
<% end %>
