<%= form_for ([@user, @course]), :html => { :class => 'form-horizontal' } do |f| %>
  
  <div class="control-group">
    <div class ="controls">    
      <%= select_tag "course[department]", options_for_select(@subjectHash.keys), :prompt=>"Please select department" %>
    </div>
  </div>

  <div class="control-group">
    <div class ="controls">    
      <%= select_tag "course[name]",options_for_select([]),:prompt=>"Courses in the department" %>
    </div>
  </div>
<%= f.hidden_field :term, :value => "Fall 2013" %>
<!-- the dummy professor value will be changed in the controller -->
<%= f.hidden_field :professor, :value => "Dummy Professor" %>

<%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              user_courses_path, :class => 'btn' %>

<% end %>
