<%- model_class = StudySession -%>
<div class="page-header">
  <h2><%=t '.title', :default => "My " + model_class.model_name.human.pluralize %></h2>
</div>
<table class="table", id="study_sessions_index">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
    </tr>
  </thead>
  <tbody>
    <% @studysessions.each do |session| %>
      <tr data-link="<%=users_path%>">
        <td><%= session.title %></td>
      	<td><%= session.date %></td>
      	<td><%= session.time %></td>
      	<td><%= session.location %></td>
      	<td><%= session.category %></td>
      	<td><%= session.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>