<p id="notice"><%= notice %></p>

<p>
  <b>Department:</b>
  <%= @course.department %>
</p>
<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Term:</b>
  <%= @course.term %>
</p>

<p>
  <b>Professor:</b>
  <%= @course.professor %>
</p>


<%= link_to 'Edit', edit_user_course_path(current_user, @course) %> |
<%= link_to 'Back', user_courses_path %>
